/*---------------------------------------------------*/
/*CSS NORMALIZED*/
:root {
	--primary: ;
	--secondary: ;
	--bg-body: ;
	--text-main: ;
	--font-body: ;
	--font-heading: ;
	--radius: ;
	--container-width: ;
}

*, *::before, *::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

html {
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
	scroll-behavior: smooth;
	height: 100%;
}

body {
	min-height: 100vh;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeSpeed;
}

img, picture, video, canvas, svg {
	display: block;
	max-width: 100%;
	height: auto;
}

input, button, textarea, select {
	font: inherit;
}

ul, ol {
	list-style: none;
}

button, [type="button"], [type="submit"] {
	cursor: pointer;
}

@media (prefers-reduced-motion: reduce) {
	*, *::before, *::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}
/*---------------------------------------------------*/



body {
	margin: 0;
	overflow: hidden;
	background-color: transparent;
}

/* .canvas { */
/* 	display: flex; */
/* 	flex-direction: column; */
/* 	background-color: transparent; */
/* 	height: 40px; */
/* } */

#WebGL-output {
    position: fixed;
    inset: 0;
    z-index: 0;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    padding-left: 80px;
    gap: 15px;
}

.header button {
	background-color: #f1f1f1;
	border: 2px solid #422800;
	border-radius: 30px;
	box-shadow: #422800 4px 4px 0 0;
	color: #422800;
	cursor: pointer;
	display: inline-block;
	font-weight: 600;
	font-size: 15px;
	padding: 12px 18px;
	line-height: 40px;
	text-align: center;
	text-decoration: none;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

.header button:hover {
  background-color: #fff;
}

.header button:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .header button {
    min-width: 120px;
    padding: 0 25px;
  }
}
